Coder/Coder.xcodeproj/project.xcworkspace/xcuserdata/amanzhanzharkynuly.xcuserdatad/UserInterfaceState.xcuserstate
Coder/Coder.xcodeproj/xcuserdata/amanzhanzharkynuly.xcuserdatad/xcschemes/xcschememanagement.plist
